@model IEnumerable<Newsopedia.Services.NewsopediaOldModels.UserNewsVm>

@{
    if (Model != null)
    {
        var date1 = "";
        int i = 0;
        @foreach (var item in Model)
        {
            if (@item.Date != date1)
            {
                var id = "historydate" + @i;
                <a id="@id" href="#" onclick='SendDate("@id", "@item.UserId")'>@item.Date</a>
                date1 = @item.Date;
                <br />
            }
            i++;
         }
    }
}
<script>
    $('a').click(function () { $(this).css({'font-weight': 'bold'}) })
    function SendDate(date, user_id) {
        var clickedDate = $("#" + date).text();
        var userId = user_id;
        var DateClicked = {
            "Date": clickedDate,
            "UserId": userId
        }
        $.ajax({
            url: "/Home/NewsArticlesViewedByUserOnADate/",
            method: "POST",
            data: DateClicked,
            success: function (data) {
                $('#History-Links-Partial').html(data);
                $('.news-list').empty();
                $('.delete-admin-news').empty();
            },
            error: function (err) {
                console.log("this is error:" + err);
            }
        })
    }
</script>